<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
            <h2 class = "centered">View Jobs By Category</h2>
        </div>

        <table class="centeredTable">
            <tr>
                <th:block th:each="column : ${columns}">
                    <th th:text = "${column.value}"></th>
                </th:block>
            </tr>
            <tr>
                <!-- TODO #2: Complete the View Jobs By Category Table. -->
                    <td><a th:href="@{/list/jobs(column=all, value=all)}">View All</a></td>
                 <!-- Feel free to remove or modify this element if necessary. -->

<!--                //keys are a Strings while Values are ArrayLists of Employers, PositionTypes, etc.-->
<!--                //category is a key/value pair-->
<!--                //the key is a string-->
<!--                //the value is an arrayList-->
                <td th:each="category : ${tableChoices}">
                    <ul>
<!--                        //category is a key/value pair-->
<!--                        //category.value retrieves the arrayList-->
<!--                        //for each item in the arrayList-->
<!--                            each item is an object with an ID and a value which is a String read in from CSV-->
                        <li th:each="item : ${category.value}">
                            <a th:href="@{/list/jobs(column=${category.key},value=${item.value})}" th:text="${item.value}"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>

    </body>
</html>